'menu': [
    {
        'label': 'Packages'
        'submenu': [
            'label': 'Dedupe Lines'
            'submenu': [
                {
                    'label': 'Dedupe'
                    'command': 'dedupe-lines:dedupe'
                }
            ]
        ]
    }
]
